.form-add-post-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .form-add-post {
    width: 85%;
    margin: auto;
    height: auto;
    padding: 10px 15px;
    border-bottom: 1px solid $tercery;
    border-left: 1px solid $tercery;
    border-right: 1px solid $tercery;
    position: relative;
    display: flex;
    flex-direction: column;
    h1 {
      margin-bottom: 15px;
    }
    label {
      span {
        color: $primary;
      }
    }
    input {
      margin-bottom: 10px;
      border: 0;
      outline: 0;
      background-color: transparent;
      padding: 10px;
      transition: 0.3s;
      color: $white;
      // &:focus {
      //   margin-bottom: 10px;
      //   border: 0;
      //   outline: 0;
      //   border-bottom: 1px solid #fd2d01;
      //   padding: 10px;
      // }
    }
    .add-post-select-img {
      width: 30px;
      height: 30px;
      position: relative;
      input[type="file"] {
        border: 0;
        padding: 0;
        position: absolute;
        height: 100%;
        width: 100%;
      }
    }
    .add-post-select-canvas {
      background-color: rgb(212, 212, 212);
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;
      img {
        height: 100%;
        object-fit: contain;
        width: 100%;
        position: absolute;
      }
    }
    button {
      border: 0;
      padding: 0;
      width: auto;
      height: 100%;
      font-weight: bold;
      color: white;
      padding: 0px 10px;
      transition: 0.5s;
    }
    .submit-off {
      background-color: #b6b6b6;
      pointer-events: none;
    }
    .submit-on {
      background-color: #fd2d01;
      pointer-events: all;
      cursor: pointer;
    }
    .add-post-notice {
      width: 100%;
      text-align: center;
      margin-top: 10px;
      span:nth-child(1) {
        color: #fd2d01;
      }
    }
  }

  .add-post-select-canvas form label span {
    color: #fd2d01;
  }

  .loginCall {
    width: 85%;
    border-bottom: 1px solid $tercery;
    border-left: 1px solid $tercery;
    border-right: 1px solid $tercery;
    .invite-to-connect {
    border: 0;
    padding: 0;
    width: auto;
    background-color: $primary;
    font-weight: bold;
    color: white;
    padding: 10px 10px;
    cursor: pointer;
  }
  }
}

.postUtils {
  height: 36px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
