header {
  width: 100%;
  height: 80px;
  display: flex;
  border-bottom: 1px solid $tercery;
  justify-content: space-between;
  position: fixed;
  background-color: $secondary;
  z-index: 21;
  padding: 0 25px;
  section {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
  }
  .logo a {
    height: 90%;
    max-width: 90%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  .utils {
    height: 100%;
    max-width: 90%;
    width: auto;
    display: flex;
    align-items: center;
    nav {
      height: 90%;
      width: 100%;
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      a {
        color: rgb(58, 58, 58);
      }
      .avatar{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        img{
          height: 100%;
        }
      }
    }
    .active {
      color: $primary;
    }
  }
}
