.post-card {
  width: 85%;
  margin: auto;
  height: auto;
  padding: 10px 15px;
  position: relative;
  .post-info-user {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    img {
      height: 30px;
      margin-right: 10px;
      margin-bottom: 5px;
      cursor: pointer;
    }
    p {
      width: 100%;
      cursor: pointer;
      &:hover {
        font-weight: bold;
      }
    }
    i {
      color: rgb(148, 148, 148);
      cursor: pointer;
      &:hover {
        color: rgb(0, 0, 0);
      }
    }
  }
  // contenu du post
  .post-content {
    padding: 0 20px;
  }
  /* illustration */
  .post-img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    margin: 10px 0 10px 0;
    background-color: $white;
  }

  /* likes et dislikes */
  .post-likes {
    width: 100%;
    margin-top: 10px;
    i {
      cursor: pointer;
    }
    span {
      margin-right: 15px;
    }
  }

  /* modal parapètre post */
  .post-modal-more {
    position: absolute;
    top: 45px;
    right: 5px;
    width: auto;
    max-height: 100%;
    background-color: #fff;
    box-shadow: 0px 5px 10px grey;
    ul {
      list-style: none;
      padding: 10px 10px 0 10px;
      li {
        margin-bottom: 10px;
        cursor: pointer;
        &:hover {
          font-weight: bold;
        }
      }
    }
  }
}
