.profil-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 85px;
  .log-container {
    width: 85%;
    .connection-form {
      width: 100%;
      .form-container {
        width: 100%;
        // box-shadow: 0px 5px 10px grey;
        padding: 10px 15px;
        ul {
          list-style: none;
          justify-content: space-evenly;
          display: flex;
          li {
            font-weight: bold;
            cursor: pointer;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 10px;
          }
          .active-log-btn {
            color: #fd2d01;
            border-bottom: 1px solid #fd2d01;
          }
        }
        form {
          width: 100%;
          margin: auto;
          height: auto;
          padding: 20px 0 0 0;
          // margin-bottom: 30px;
          position: relative;
          display: flex;
          flex-direction: column;
          h1 {
            margin-bottom: 15px;
          }
          input {
            margin-bottom: 10px;
            border: 0;
            outline: 0;
            border-bottom: 1px solid #b8b8b8;
            padding: 5px 0px 5px 7px;
            font-size: 1rem;
            transition: 0.3s;
            &:focus {
              margin-bottom: 10px;
              border: 0;
              outline: 0;
              border-bottom: 1px solid #fd2d01;
            }
          }
          .add-post-select-img {
            width: 100%;
            height: 200px;
            position: relative;
            margin: 10px 0 10px 0;
          }
          .add-post-select-img input[type="file"] {
            border: 0;
            padding: 0;
            position: absolute;
            height: 100%;
            width: 100%;
          }
          .add-post-select-canvas {
            background-color: rgb(212, 212, 212);
            border: 1px dashed black;
            position: absolute;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            pointer-events: none;
          }
          .add-post-select-canvas img {
            height: 100%;
          }
          label span {
            color: #fd2d01;
          }
          .success {
            color: green;
          }
          div {
            margin-bottom: 10px;
            color: red;
          }
          input[type="submit"] {
            border: 0;
            padding: 0;
            width: auto;
            font-weight: bold;
            color: white;
            padding: 10px 0;
          }
          .submit-off {
            background-color: #b6b6b6;
            pointer-events: none;
          }
          .submit-on {
            background-color: #fd2d01;
            pointer-events: all;
            cursor: pointer;
          }
          .active-btn {
            background-color: #fd2d01;
            color: white;
          }
          .input-cond-gen {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            input {
              margin: 0 10px 0 0;
            }
            span {
              color: black;
              a {
                color: #fd2d01;
                &:hover {
                  font-weight: bold;
                }
              }
            }
          }
          .add-post-notice {
            width: 100%;
            text-align: center;
            margin-top: 10px;
          }
          .add-post-notice span:nth-child(1) {
            color: #fd2d01;
          }
        }
      }
    }
  }
  .primary-data-container {
    width: 85%;
    padding: 10px 15px;
    h1 {
      color: #fd2d01;
      margin-bottom: 10px;
      text-align: center;
    }
    .primary-data {
      display: flex;
      justify-content: center;
      .left-part-profil {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .pic-update-box {
          width: 150px;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          margin-bottom: 15px;
          .upload-picture {
            display: flex;
            flex-direction: column;
            align-items: center;
            input[type="file"] {
              margin-top: 10px;
            }
            input[type="submit"] {
              border: 0;
              width: auto;
              background-color: #fd2d01;
              font-weight: bold;
              color: white;
              padding: 5px 10px;
              cursor: pointer;
              margin-top: 10px;
            }
          }
          .icon-update-img {
            position: absolute;
            background-color: white;
            border: 1px solid #fd2d01;
            height: 30px;
            width: 30px;
            display: flex;
            pointer-events: none;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            top: 8px;
            right: 8px;
            color: #fd2d01;
            i {
              margin-left: 2px;
              margin-bottom: 1px;
            }
          }
          img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border: 1px solid #fd2d01;
            border-radius: 50%;
          }
        }
        button {
          border: 0;
          width: auto;
          background-color: #b6b6b6;
          font-weight: bold;
          color: white;
          padding: 5px 10px;
          cursor: pointer;
        }
      }
      .right-part-profil {
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .data-raw {
          width: 80%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 10px;
          p {
            margin-right: 5px;
            font-size: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          button {
            background-color: transparent;
            padding: 0;
            i {
              color: #fd2d01;
              font-size: 16px;
            }
          }
        }
        .data-update {
          width: 80%;
          margin-bottom: 10px;
          display: flex;
          justify-content: center;
          align-items: center;

          input {
            width: 100%;
            height: 20px;
            outline: 0;
            border: 1px solid #fd2d01;
            font-size: 16px;
            margin-right: 5px;
            padding: 2px;
          }
          textarea {
            width: 100%;
            padding: 2px;
            resize: vertical;
            max-height: 80px;
            min-height: 20px;
            outline: 0;
            border: 1px solid #fd2d01;
            margin-right: 5px;
            font-size: 1rem;
          }
          button {
            background-color: transparent;
            padding: 0;
            margin-right: 5px;
            &:nth-child(2) {
              color: green;
            }
            &:nth-child(3) {
              color: red;
            }
            i {
              font-size: 16px;
            }
          }
        }
        button {
          border: 0;
          width: auto;
          background-color: #fd2d01;
          font-weight: bold;
          color: white;
          padding: 5px 10px;
          cursor: pointer;
        }
      }
    }
    @media screen and (max-width: 768px) {
      .primary-data {
        flex-direction: column;
        .left-part-profil {
          width: 100%;
        }
        .right-part-profil {
          width: 100%;
          align-items: center;
          .crtic-action {
            width: 100%;
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }
}
