.threadContainer {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .card {
    background-color: $primary;
    color: $white;
    .postHeader {
      span {
        color: white;
      }
    }
    .postPic {
      max-height: 300px;
    }
    .postContent {
      p {
        color: $white;
      }
    }
    .commentContainer {
      padding: 16px 26px;
      .commentHeader {
        display: flex;
        padding-bottom: 16px;
        position: relative;
        .commentAction {
          background-color: $white;
          position: absolute;
          bottom: -30px;
          right: 10px;
        }
        .identityComment {
          width: 100%;
          display: flex;
          flex-direction: column;
          margin-left: 16px;
          font-weight: 400;
          font-size: 0.875rem;
          line-height: 1.43;
          letter-spacing: 0.01071em;
        }
      }
    }
  }
}
